{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
    <h2>Книги</h2>
    <p>
      <a href="{% url 'upload_book' %}" class="btn btn-primary">Загрузить книги</a>
    </p>
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Обложка</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Скачать</th>
        <th>Удалить</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>
            {% if book.cover %}
              <img src="{{ book.cover.url }}" alt="{{ book.title }}" style="width:100px;">
            {% else %}
              <span class="text-muted">.</span>
            {% endif %}
          </td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>
            <a href="{{ book.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
              Скачать
            </a>
          </td>
          <td>
            <form method="post" action="{% url 'delete_book' book.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
