/*фон цвета*/
body {
	background-color:#F5F5DC ;
}
/*авторизация*/ 
.form{
	position: absolute;
	top: 40%;
	left: 75%;
	transform: translate(-80%,-50%);
	background: rgba(255, 255, 255, .5);
}
/*заголовок большой*/
.form h1{
	margin: 70px 25px;
	padding: 0;
	text-align: center;
	color: #000830;
	font-size: 55px;
	text-transform: uppercase;
}
/*текст центр*/
.input-form {
	margin: 55px 40px;
	text-align: center;
}
/*окно авторизация*/
.input-form input{
	padding: 10px;
	width: 100%;
	color: #000830;
	font-size: 20px;
	background: #fff;
	outline: none;
	border: 5px solid #a8e8ff;
	box-sizing: border-box;
}
/*текст логин и пароль*/
.input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
	border: 5px solid #0fc3f5;
} 
/*окно анимация*/
.input-form input[type="submit"] {
	margin-top: 20px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	background: #a8e8ff;
	transition: .3s;
}
/*нажатие кнопка цвет*/
.input-form input[type="submit"]:hover {
	background: #0fc3f5;
}
.form a{
	display: block;
	padding: 0 0 30px;
	text-align: center;
	color: blue;
	text-decoration: none;
	transition: .3s;
}
.form a:hover {
	color:#0fc3f5;
}
.image-wrap{
	position: absolute;
	 top: 50px;
	left: 200px;
	transform: translate(-5%,0%);

}
/*изображение*/
.image-wrap img{
  	border-radius: 35%;
	height: 50em;
	object-fit: cover;
	width: 50em;

}